*{
    background-color:gray;
} 
.flex-container{
    display: flex;
    align-items:flex-start;
    justify-content:space-evenly ;
    margin-left: auto;
    margin-right: auto;
    height: 50px;        
    background-color: rgb(185, 175, 175);
    border-radius: 40px;

 }
 .home{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: medium;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
     
}  
.contact{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: medium;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.services{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: medium;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.news{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: medium;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.grid_container{
    background-color: brown;
    margin-top: 80px;   
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
    gap: 3px;
}
.grid_container > h1 {
    margin: 0;
    padding: 0;
}
.grid1{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.grid2{
    background-color: rgba(28, 69, 116, 0.486);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid3{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid4{
    background-color: rgb(41, 41, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.grid5{
    background-color:darkkhaki;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid6{
    background-color: rgb(90, 124, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid7{
    background-color:rgba(165, 30, 120, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid8{
    background-color: rgb(55, 49, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid9{
    background-color:lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid10{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid11{
    background-color: rgba(243, 201, 86, 0.459);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid12{
    background-color:rgb(206, 84, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid13{
    background-color:rgba(50, 24, 167, 0.356);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid14{
    background-color: rgb(17, 146, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid15{
    background-color:rgb(145, 231, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.grid16{
    background-color:rgb(189, 141, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
     font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
    margin: 20px;
    font-weight: bold;
    font-style:italic;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}